<!DOCTYPE html>
<html lang="en">

{% extends 'blog/base.html' %}
{% load blog_tag %}

{% block title %}
    <title>Drafts</title>
{% endblock %}

{% block content %}
</br></br></br></br>
<h1>{{ user.username|title }}'s Drafts</h1>
{% if blog_list %}
    {% for blog in blog_list %}
        <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>({{ blog.published_time }})
            -------{% real_name_or_username blog %}</li>
    {% endfor %}
{% else %}
    <p>No blogs are found</p>
{% endif %}
{% include "blog/pagination.html" %}
{% endblock %}

</html>