<!DOCTYPE html>
<html lang="en">
{% extends 'blog/base.html' %}
{% load blog_tag %}

{% block title %}
    <title>Homepage</title>
{% endblock %}

{% block content %}
    </br></br></br></br>
    <h1>All Blogs</h1>
    {% if blog_list %}
        {% for blog in blog_list %}
            <li><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a>({{ blog.published_time }})
            -------{% real_name_or_username blog %}</li>
        {% endfor %}
    {% else %}
        <p>No blogs are found</p>
    {% endif %}
    {% if is_paginated %}
        {% if multiple_page_series_to_show %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for i in page_number_to_be_show %}
                {% if page_obj.number == i %}
                    {{ i }}
                {% else %}
                    <a href="?page={{ page_obj.number }}">{{ i }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% else %}
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}
            {% for page_number in paginator.page_range %}
                {% if page_obj.number == page_number %}
                    {{ page_number }}
                {% else %}
                    <a href="?page={{ page_number }}">{{ page_number }}</a>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock %}

</html>